.steps{
    width: 100%;
    display: flex;
    height: 40px;
    /* background-color: rgb(202, 137, 137); */
}
.steps .s1{
    margin-left: 0px !important;
    color: #000;
    border-top-left-radius: 6px;
    border-bottom: 2px solid blue;
}
.steps .step{
   padding: 0 1.6rem;
   margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    /* background-color: blueviolet; */
}
.step h4{
    padding: 0 6px;
    font-weight: 500;
    font-size: 12px;
    /* background-color: red; */
    width: 150px;
    height: auto;
}
.step p{
    font-weight: 500;
    font-size: 12px;
    color: #000;
}

.step p i{
    color: green;
}
