.threeDots{
    cursor: pointer;
}
.table{
    position: relative;
}
.edit{
    width: 120px;
    height: 110px;
    background-color: #fff;
    position: absolute;
    top: 31%;
    right: 5%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 4px 1px gray;
    cursor: pointer;
}
.edit p{
color: #000;
font-size: 10px;
font-weight: 500;
z-index: 1;
}
.edit i{
    padding-right: 5px;
}
.companyImg div{
    display: flex;
    align-items: center;
    justify-content: start;
}
.companyImg div p{
    font-weight: 500;
    color: #000;
}
.companyImg div img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
}

